*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
}
.home-wrapper{
	width:100%;
}
.header{
	width:100%;
	height: 28px;
	background-color: #5F574C;
}
.page-header-wrapper{
	width: 80%;
	height: 260px;
	margin:0 auto;
	padding:30px 0 60px 0px;
	border-bottom: 1px solid ##5F574C;
}
.page-header-wrapper h1{
	padding-left: 20px;
	line-height: 80px;
}
.page-header-wrapper p{
	padding-left: 20px;
	margin-top: -20px;
}
.footer{
	height: 28px;
	background-color: #5F574C;
}
.footer-item{
	padding: 20px 40px;
}
.footer-item h2{
	margin:20px 0px;
	text-indent: 25px;
}
.footer-item p{
	text-indent: 25px;
}
.page-footer-wrapper{
	width:80%;
	margin:0 auto;
	margin-top: 60px;
	border-top: 1px solid #E9E9E9;
}
.pic-wrapper{
	background-color: #E9E9E9;
	color: #fff;
	text-align: center;
	padding-top: 20px;
}
.pic-wrapper img{
	width: 900px;
	height:675px;
	margin:0 auto;
}
.content-wrapper{
	width:80%;
	margin:0 auto;
}
.inner-seperate-line{
	border-left: 1px solid #5F574C;
	width: 50%;
	height: 130px;
    margin: 15px 20px;
	margin-left: 50%;
}
.custom-image{
	text-align: center;
}
.gallery-wrapper .ant-card{
	padding:10px;
	margin:10px;
}
.gallery-wrapper img{
	width:100%;
}
.gallery-wrapper h3{
	margin-top: 20px;
	border-top: 1px solid #E9E9E9;
	padding-top: 20px;
}
.loveThings-wrapper .ant-card{
	padding:10px;
	margin:10px;
}
.blog-wrapper textarea{
	width:100%;
}
.calendar-wrapper{
	margin:20px;
	padding:20px;
	border:1px solid #D9D9D9;
	border-radius: 5px;
}
.blog-wrapper .ant-card{
	margin:20px;
	padding:10px;
}
.blog-wrapper .ant-card-bordered{
	border:1px solid #D9D9D9;
}
.work-collection-wrapper .ant-card{
	margin:20px;
	padding:20px;
}
.work-collection-wrapper .ant-card-bordered{
	border:1px solid #D9D9D9;
}
.work-collection-wrapper .ant-card img{
	width:80%;
	margin:0 auto;
	height: 180px;
}
.work-detail-wrapper .ant-col-4{
	padding:20px;
}
.work-detail-wrapper .ant-col-20{	
	border-left: 1px solid #D9D9D9;
	box-shadow: -2px 0 1px 0px #D9D9D9;
	padding-left: 40px;
}
.work-detail-wrapper h2{
	text-align: center;
}
.collection-title{
	cursor: pointer;
}
.collection-title:hover{
	color: #221E1F;
	font-weight: bold;
}